.button {
  display: inline-block;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  & span {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #b0b0b0;
  }
}

.button-primary {
  background-color: var(--black);
  & span {
    color: var(--white);
  }
}

.button-secondary {
  background-color: var(--white);
  border: 2px solid var(--black);
  & span {
    color: var(--black);
  }
}

.button-input {
  background-color: var(--red);
  color: var(--white);
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    background-color: #8c0202;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .button {
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .button {
    padding: 0.9rem 1.2rem;
    font-size: 1.1rem;
  }
}
